{% extends 'poll/base.html' %}

{% block body %}
    <div class="form-container">
        <h3>Add new poll</h3>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="{% url 'poll:add' %}" method="post" id="#add_poll">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="topic_text" placeholder="Topic" class="form-control" autocomplete="off">
            </div>
            <div id="choice_container" class="choice_container">
                <div class="form-group"><input type="text" name="choice_1" placeholder="Choice 1" class="form-control" autocomplete="off" id="choice"></div>
                <div class="form-group"><input type="text" name="choice_2" placeholder="Choice 2" class="form-control" autocomplete="off" id="choice"></div>
            </div>
            <button type="button" class="button-generic" onclick="appendChoiceField()">Add Choice</button>
            <button type="button" class="button-generic" onclick="removeChoiceField()">Remove Choice</button>
            <button class="button-main" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
