<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'poll/css/styles.css' %}" />
        <title>Brand Pit</title>
    </head>
    <body>
        <div class="header">
            <img class="logo" />
                <ul class="nav-bar">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'poll:index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'poll:add' %}">Add+</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration:sign_out' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration:sign_up' %}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
        </div>
        {% block  body %}
        {% endblock %}
        <script src= "{% static 'poll/js/require.js'%}"></script>
        <script>
            require.config({
                baseUrl: "{% static 'poll/js/' %}",
                paths: {
                    'jquery': "{% static 'poll/js/jquery.min' %}"
                }
            });
        </script>
        <script src="{% static 'poll/js/main.js' %}"></script>
    </body>
</html>
