{% extends 'poll/base.html' %}
{% block body %}
    <h1 class="primary-text">{{ choice.choice_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="body-container">
        <div class="comment-container">
            <div class="column-comment-pro" id="pro_comments">
                <h2 class="comment-header">Pros</h2>
                    {% for pro_comment in pro_comments %}
                    <div class="card-comment-pro">
                        <div class="card-comment-content">
                            <p>{{ pro_comment.comment_text }}</p>
                        </div>
                        <div class="card-comment-user">
                            <p>{{ pro_comment.user }}</p>
                        </div>
                        <div class="card-comment-date">
                            <p>{{ pro_comment.pub_date }}</p>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <div class="column-comment-con" id="con_comments">
                <h2 class="comment-header">Cons</h2>
                    {% for con_comment in con_comments %}
                    <div class="card-comment-con">
                        <div class="card-comment-content">
                            <p>{{ con_comment.comment_text }}</p>
                        </div>
                        <div class="card-comment-user">
                            <p>{{ con_comment.user }}</p>
                        </div>
                        <div class="card-comment-date">
                            <p>{{ con_comment.pub_date }}</p>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="push">
        </div>
    </div>
    <div class="footer">
        <div class="comment-container">
            <div class="column-comment-pro-field">
                    <div class="form-container-comment">
                        <form action="{% url 'poll:comment' choice.id %}" method="post" id="add_comment_pro">
                            {% csrf_token %}
                            <input type="textarea" name="comment_text_pro" id="comment_text_pro" class="form-control" required/><br />
                            <button type="submit" class="button-small-right"><p class="label-button-small">Add comment</p></button>
                        </form>
                    </div>
            </div>
            <div class="column-comment-con-field">
                    <div class="form-container-comment">
                        <form action="{% url 'poll:comment' choice.id %}" method="post" id="add_comment_con">
                            {% csrf_token %}
                            <input type="textarea" name="comment_text_con" id="comment_text_con" class="form-control"  required/><br />
                            <button type="submit" class="button-small-left"><p class="label-button-small">Add comment</p></button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
