{% extends 'poll/base.html' %}

{% block body %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'poll:vote' topic.id %}" method="post" id="add_vote">
        {% csrf_token %}
        <div class="card-container">
            {% for choice in topic.choice_set.all %}
                <div class="card-choice">
                    <h3>
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                        <label for="choice{{ forloop.counter }}">
                            {{ choice.choice_text }}
                        </label>
                    </h3>
                    <p class="label">
                        Votes: {{ choice.votes}}
                    </p>
                    <a href="{% url 'poll:description' choice.id %}">
                        <button class="button-small" type="button"><p class="label-button-small">Comments</p></button>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="button-container">
            <input type="submit" value="Vote" class="button-vote"/>
        </div>
    </form>
{% endblock %}
