{% extends "poll/base.html" %}

{% block body %}
    {% if topic_list %}
        <div class="card-container">
            {% for topic in topic_list %}
            <a href="{% url 'poll:detail' topic.id %}">
                <div class="card-topic">
                    <div class="card-header">
                        {{ topic.topic_text }}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <h1>No polls yet.</h1>
    {% endif %}
{% endblock %}
