// logo url logomakr.com/3VOlZZ

//colors
@primary-color-1: #0080ff;
@secondary-color-1: #99ccff;
@logo-url: url("../images/logo.png");

h1 {
    font-family: sans-serif;
    color: @primary-color-1;
}
h2 {
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
    color: @primary-color-1;
}
body {
    background-color: white;
    padding-top: 8%;
}
.body-container {
    position: relative;
    margin-bottom: 16%;
    align-items: center;
    min-height: 400px;
    clear: both;
}
.body-container-login {
    position: relative;
    width: 45%;
    float: left;
    height: auto;
    padding: 8% 12% 5% 12%;
    color: @primary-color-1;
    font-style: italic;
    text-align: center;
}
ul {
    list-style: none;
}
.primary-text{
    color: @primary-color-1;
    text-align: center;
}
.secondary-text{
    color: black;
    font-size: 12px;
    font-family: sans-serif;
}
.comment-header{
    margin-top: -5%;
    font-family: sans-serif;
}
a {
    .secondary-text;
    text-decoration: none;
}
.logo {
    content: @logo-url;
    margin: 1%;
    width: 12%;
    height: auto;
    position: relative;
    float: left;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #343a40;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #343a40;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
}
.push {
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}
.label {
    .secondary-text;
    margin-bottom: 3%;
    color: #444444;
}
.label-button-small{
    .secondary-text;
    margin-top: -2%;
    margin-bottom: -2%
}
.button-1 {
    margin-left: 38%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.card-container{
    float:left;
    width: 100%;
    position: relative;
    padding: 0 2% 0 2%;
}
.card-generic{
    float: left;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-small {
    width: 15%;
    margin: 1%;
    padding: 1%;

}
.card-topic {
    .card-generic;
    .card-small;
}
.card-choice {
    .card-generic;
    .card-small;
}
.card-header {
    text-align: center;
    font-size: 12px;
    color: @primary-color-1;
}
.button-generic{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}
.button-small {
    .button-generic;
    float: right;
}
.button-small-right {
    .button-small;
    margin-top: -8%;
    margin-bottom: 2%;
    float: right;
}
.button-small-left {
    .button-small;
    float: left;
    margin-top: -8%;
    margin-bottom: 2%;
}
.button-main{
    .button-generic;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.button-container {
    width: 100%;
    height: auto;
}
.button-vote{
    .button-generic;
    width: 10%;
    margin-top: 5%;
    margin-left: 45%;
    background-color: @primary-color-1;
    color: white;
}
.nav-bar{
    width: 30%;
    display: flex;
    list-style: none;
    flex-direction: row;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.nav-item{
    margin-left: 15%;
}
.nav-link{
    color: white;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: .75rem;
    color: #495057;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-container{
    width: 60%;
    margin: 0% 20% 20% 20%;
    float: left;
    position: relative;
}
.form-container-login{
    .form-container;
    width: 20%;
    margin: 0% 10% 20% 0%;
    float: right;
}
.form-container-comment{
    .form-container;
    margin: 0% 20% 20% 20%;

}
.comment-container{
    position: relative;
    width: 100%;
    float: left;
}
.column-comment{
    width: 40.5%;
    height: auto;
    border-color: #DDDDDD;
    position: relative;
    padding: 2%;
}
.column-comment-pro {
    .column-comment;
    text-align: right;
    margin-left: 5%;
    float: left;
    border-right-style: solid;
    border-color: #007acc;
}
.column-comment-con {
    .column-comment;
    text-align: left;
    float: right;
    margin-right: 5%;
    border-left-style: solid;
    border-color: #e60000;
}
.column-comment-pro-field {
    .column-comment;
    text-align: right;
    margin-left: 5%;
    float: left;
    margin-bottom: -10%;
}
.column-comment-con-field {
    .column-comment;
    text-align: left;
    float: right;
    margin-right: 5%;
    margin-bottom: -10%;
}
.card-comment{
    .card-generic;
    width: 80%;
    padding: 2%;
}
.card-comment-pro {
    .card-comment;
    float: right;
}
.card-comment-con {
    .card-comment;
    float: left;
}
.card-comment-content {
    font-size: 12px;
    width: 100%;
}
.card-comment-user {
    font-size: 8px;
    margin-bottom: -4%;
    color: #666666;
}
.card-comment-date {
    font-size: 8px;
    margin-bottom: -4%;
    color: #666666;
}
