{% extends 'poll/base.html' %}

<!-- {% block title %}Login{% endblock %} -->

{% block body %}
    <div class="body-container-login">
        <h2>It's not the actor. It's where brands are pitted against each other.</h2>
    </div>
    <div class="form-container-login">
        <h3>Login</h3>
        <form action="{% url 'registration:sign_in' %}" method="POST" class="col-md-6 col-md-offset-3">
            {{ error }}
            {% csrf_token %}
            <div class="form-group">
                <label for="username"><p class="label">Username</p></label>
                <input type="text" name="username" placeholder="Username" value="{{ username }}" class="form-control" autocomplete="off" id="username">
            </div>
            <div class="form-group">
                <label for="password"><p class="label">Password</p></label>
                <input type="password" name="password" placeholder="Password" class="form-control" id="password">
            </div>
            <button class="button-generic">Sign In</button>
        </form>
    </div>
{% endblock %}
