{% extends 'poll/base.html' %}

{% block body %}
    <div class="body-container-login">
        <h2>Start fighting for your favorite brand.</h2>
    </div>
    <div class="form-container-login">
        <h3>Register</h3>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="username"><p class="label">Username</p></label>
                <input type="text" name="username" placeholder="Username" value="{{ username }}" class="form-control" autocomplete="off" id="username">
            </div>
            <div class="form-group">
                <label for="email"><p class="label">Email</p></label>
                <input type="text" name="email" placeholder="Email" value="{{ email }}" class="form-control" autocomplete="off" id="username">
            </div>
            <div class="form-group">
                <label for="password"><p class="label">Password</p></label>
                <input type="password" name="password" placeholder="Password" class="form-control" id="password">
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="button-generic">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
